<h1>拗らせ診断</h1>
<%= form_with model: @kojirase, class: 'form-control', local: true do |f| %>
  <div class="container-sindan">
  <h5>よく言ってしまう言葉は・・</h5>
    <div class="col-6">
      <p><%= f.check_box :question, {multiple: true}, "1", nil %>ありがとう</p>
      <p><%= f.check_box :question, {multiple: true}, "2", nil %>すみません</p>
    </div>
  <h5>どちらかと言えば・・</h5>
    <div class="col-6">
      <p><%= f.check_box :question, {multiple: true}, "1", nil %>努力家だ</p>
      <p><%= f.check_box :question, {multiple: true}, "2", nil %>現状維持が好き</p>
    </div>
  <h5>休日は・・</h5>
    <div class="col-6">
      <p><%= f.check_box :question, {multiple: true}, "2", nil %>友達と遊ぶ</p>
      <p><%= f.check_box :question, {multiple: true}, "1", nil %>家でゴロゴロ</p>
    </div>
  <h5>人に甘えるのは・・</h5>
    <div class="col-6">
      <p><%= f.check_box :question, {multiple: true}, "1", nil %>恥ずかしい！絶対無理</p>
      <p><%= f.check_box :question, {multiple: true}, "2", nil %>ついつい周りに甘えてしまう</p>
    </div>
  <h5>男性へのアプローチは・・</h5>
    <div class="col-6">
      <p><%= f.check_box :question, {multiple: true}, "1", nil %>気になる人がいればできる！</p>
      <p><%= f.check_box :question, {multiple: true}, "2", nil %>私なんて無理。めんどくさい。</p>
    </div>
  </div>
  <div class="sindanbontan">
    <%= f.submit '送信する', class: 'btn btn-dark' %>
<% end %>
