<h2>〜診断結果〜</h2>

<div class="tweet-container">
  <div class="tweet">
    <% if @kojirase.question == "1111" %>
      <%= render 'shindan_kekka/shindankekka1' %>

    <% elsif @kojirase.question == "1112" %>
      <%= render 'shindan_kekka/shindankekka2' %>

    <% elsif @kojirase.question == "1121" %>
      <%= render 'shindan_kekka/shindankekka2' %>

    <% elsif @kojirase.question == "1122" %>
      <%= render 'shindan_kekka/shindankekka3' %>

    <% elsif @kojirase.question == "1211" %>
      <%= render 'shindan_kekka/shindankekka2' %>

    <% elsif @kojirase.question == "1212" %>
      <%= render 'shindan_kekka/shindankekka3' %>

    <% elsif @kojirase.question == "1221" %>
      <%= render 'shindan_kekka/shindankekka3' %>

    <% elsif @kojirase.question == "1222" %>
      <%= render 'shindan_kekka/shindankekka4' %>

    <% elsif @kojirase.question == "2111" %>
      <%= render 'shindan_kekka/shindankekka2' %>

    <% elsif @kojirase.question == "2112" %>
      <%= render 'shindan_kekka/shindankekka3' %>

    <% elsif @kojirase.question == "2121" %>
      <%= render 'shindan_kekka/shindankekka3' %>

    <% elsif @kojirase.question == "2122" %>
      <%= render 'shindan_kekka/shindankekka4' %>

    <% elsif @kojirase.question == "2211" %>
      <%= render 'shindan_kekka/shindankekka3' %>

    <% elsif @kojirase.question == "2212" %>
      <%= render 'shindan_kekka/shindankekka4' %>

    <% elsif @kojirase.question == "2221" %>
      <%= render 'shindan_kekka/shindankekka4' %>

    <% elsif @kojirase.question == "2222" %>
      <%= render 'shindan_kekka/shindankekka5' %>
    <% end %>
  </div>
  <%= link_to '戻る', new_kojirase_path, class: 'btn btn-primary' %>
</div>
